body {
  min-height: 1800px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #87cefa;
}

#projects {
  background-color: #87cefa;
}

.navbar-brand {
  font-family: Copperplate Gothic Bold;
}
.display-4 {
  font-family: Snap ITC;
  font-size: 3rem;
}
.lead {
  font-family: Imprint MT Shadow;
  font-size: 2rem;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
.gmaps {
  width: 100%;
}
